body header{
    background-color: #231709 ;
    color: #D9CEAD;
}

body header a {
    color: #D9CEAD;
}

body header a:hover {
    color: #231709;
}

.titre{
    text-decoration-color: #5C310E;
}

body main{
    background-color: #231709 ;
}

.nav{
    background-color: #5C310E;
}

.carousel-item{
    background-color: #8C5B38;
}

#reassuranceLine{
    background-color: #5C310E;
}

.reassuranceLine {
    background-color: #5C310E;
}

.footer {
    background-color: #8C5B38;
}
footer a {
    color: #D9CEAD;
}

footer a:hover {
    color: #231709;
}

footer .h5 {
    color: #D9CEAD;
}

/*=================category=============*/
.category{
    background-color: #D9CEAD;
}

.category img{
    box-shadow: 10px 5px 5px #A98364;
    border-radius: 10px;
    background-color: #5C310E;
}

.category .card-body .align-bottom{
    position: relative;
    bottom: 0;
}

.category .btn {
    border-radius: 10px;
    background-color: #01D8E5;
}

.category .outofstock {
    border-radius: 10px;
    background-color: gray;
}

/*=================product=============*/

.product{
    border-radius: 10px;
    background-color: #D9CEAD;
}
.product button{
    border-radius: 10px;
    background-color: #01D8E5;
}

.product .outofstock {
    border-radius: 10px;
    background-color: gray;
}

.product img{
    margin: 10px;
    padding: 15px;
    width: 80%;
    box-shadow: 10px 5px 5px #A98364;
    border-radius: 10px;
    background-color: #5C310E;
}
/*=================cart=============*/
.cart{
    border-radius: 10px;
    background-color: #D9CEAD;
}
.cart button{
    border-radius: 10px;
    background-color: #01D8E5;
}

.cart .outofstock {
    border-radius: 10px;
    background-color: gray;
}

.cart img{
    margin: 10px;
    padding: 15px;
    width: 80%;
    box-shadow: 10px 5px 5px #A98364;
    border-radius: 10px;
    background-color: #5C310E;
}
/*=================home=============*/
.home .btn{
    border-radius: 10px;
    background-color: #01D8E5;
}
