body header{
    background-color: #231709 ;
    color: #D9CEAD;
}

body header a {
    color: #D9CEAD;
}

body header a:hover {
    color: #231709;
}

.titre{
    text-decoration-color: #5C310E;
}

body main{
    background-color: #231709 ;
}

.nav{
    background-color: #5C310E;
    ;
}

.carousel-item{
    background-color: #8C5B38;
}

#reassuranceLine{
    background-color: #5C310E;
}
